{% extends "base.html" %}
{% block title %}Representatives{% endblock %}
{% block content %}

<div class="w3-bar pride-trans-blue w3-responsive">
    <h1 class="font-herr-von-muellerhoff pride-trans-white-text w3-jumbo"><a href="{{ url_for('home.homepage') }}">Is Mightier</a></h1>
</div>


<div class="w3-col w3-padding s12 m12 l3" style="text-align: left;">
    <h4>
        {{ namedRep.iloc[0]['name'] }}<br />
        {% if 'President' in namedRep.iloc[0]['title'] %}
            <span class="smaller stateface stateface-us">{{ namedRep.iloc[0]['title'] }}</span>
        {% else %}
            <span class="smaller stateface stateface-{{ lookupState|lower }}">{{ namedRep.iloc[0]['title'] }}</span>
        {% endif %}
    </h4>
    <p style="line-height: 1.8;">
        {% for field in fieldList %}
            {% if namedRep.iloc[0][field] %}
                {% if 'phone' in field %}
                    <a href="tel:+1{{ namedRep.iloc[0][field]|replace('(','')|replace(')','')|replace(' ','')|replace('-','') }}">{{ namedRep.iloc[0][field] }}</a><br />
                {% elif 'url' in field %}
                    <a href="{{ namedRep.iloc[0][field] }}" target="_blank" style="text-decoration: none;"><i class="fa-solid fa-globe" style="color: #000000;"></i>&nbsp;&nbsp;&nbsp;<span style="text-decoration: underline;">{{ namedRep.iloc[0][field] }}</span></a><br />
                {% elif 'party' in field %}
                    {% if namedRep.iloc[0][field] == 'Democratic Party' %}
                        <i class="fa-solid fa-democrat"></i>&nbsp;&nbsp;&nbsp;Democrat
                    {% elif namedRep.iloc[0][field] == 'Republican Party' %}
                        <i class="fa-solid fa-republican"></i>&nbsp;&nbsp;&nbsp;Republican
                    {% else %}
                        {{ namedRep.iloc[0][field] }}
                    {% endif %}<br />
                {% else %}
                    {{ namedRep.iloc[0][field] }}<br />
                {% endif %}
            {% endif %}
        {% endfor %}
    </p>
    <p>
        {% for field in addressList %}
            {% if namedRep.iloc[0][field] %}
                {% if 'line' in field %}
                    {% if 'line1' in field %}
                        <span class="larger">&#9993;&nbsp;&nbsp;&nbsp;</span>{{ namedRep.iloc[0][field] }}<br />
                    {% else %}
                        {{ namedRep.iloc[0][field] }}<br />
                    {% endif %}
                {% elif 'city' in field %}
                    <span style="margin-left: 2rem;">{{ namedRep.iloc[0][field] }}</span>, 
                {% elif 'state' in field %}
                    {{ namedRep.iloc[0][field] }} 
                {% elif 'zip' in field %}
                    {{ namedRep.iloc[0][field] }}<br />
                {% endif %}
            {% endif %}
        {% endfor %}
        {% if namedRep.iloc[0]['fax_number'] %}
        {{ namedRep.iloc[0]['fax_number'] }}
            <p>
                send a fax via FaxZero:<br /><a href="{{ namedRep.iloc[0]['fax_zero_url'] }}" target="_blank" style="text-decoration: none;"><i class="fa-solid fa-fax" style="color: #000000;"></i>&nbsp;&nbsp;&nbsp;<span style="text-decoration: underline;">{{ '(' + namedRep.iloc[0]['fax_number'][0:3] + ') ' + namedRep.iloc[0]['fax_number'][3:6] + '-' + namedRep.iloc[0]['fax_number'][6:10] }}</span></a>
            </p>
        {% endif %}
    </p>
    <p><a href="#" onclick="history.back()" style="text-decoration: none;"><span class="larger flipV">&#8617;&nbsp;&nbsp;&nbsp;</span><span style="text-decoration: underline;">Return to List of Representatives</span></a></p>
</div>
<div class="w3-col w3-padding s12 m12 l9">
        <div style="height: 100%; width: 100%">
            <iframe src="{{ url_for('letters.letter') }}" width="100%" style="display: block; border: none; width: 100%; height: 75vh;"></iframe>
        </div>
</div>


{# <div class="flex-container">
{% set duplicateTitleCounter = namespace(value=1) %}
{% for index, row in repDF.iterrows() %}
    {% set div_id = row['title']|replace(' ','_') %}
    {% if (index > 0 and repDF['title'][index] == repDF['title'][index - 1]) or repDF['title'][index] == repDF['title'][index + 1] %}
        {% set div_id = div_id + '_' + duplicateTitleCounter.value|string %}
        {% set duplicateTitleCounter.value = duplicateTitleCounter.value + 1 %}
    {% else %}
        {% set duplicateTitleCounter.value = 1 %}
    {% endif %}
<div id="{{ div_id }}">

<h3>{{ row['title'] }}</h3>
<h4>{{ row['name'] }}</h4>
<p>{{ row['party'] }}</p>
    {% for column in shortCols %}
        {% if row[column] == None %}
            {% break %}
        {% elif 'phone' in column %}
            <p>Phone: {{ row[column] }}</p>
        {% elif 'url' in column %}
            <p><a href="{{ row[column] }}">{{ row[column] }}</a></p>
        {% elif column == 'fax_number' %}
            <p>Fax: <a href="{{ row['fax_zero_url'] }}">{{ '(' + namedRep.iloc[0]['fax_number'][0:3] + ') ' + namedRep.iloc[0]['fax_number'][3:6] + '-' + namedRep.iloc[0]['fax_number'][6:10] }}</a></p>
        {% endif %}
    {% endfor %}
</div>
{% endfor %}
</div> #}

{% endblock %}


{# {% if index > 0 and repDF['title'][index] == repDF['title'][index - 1] %}
    {% set duplicateTitleCounter = 1 %}
    {% set div_id = row['title']+ str(duplicateTitleCounter + 1) %}
{% else %}
    {% set duplicateTitleCounter = 0 %}
    {% set div_id = row['title'] %} #}
