{% extends "base.html" %}
{% block title %}Representatives{% endblock %}
{% block content %}

<div class="w3-bar pride-helms-blue w3-responsive">
    <h1 class="font-herr-von-muellerhoff pride-helms-white-text w3-jumbo"><a href="{{ url_for('home.homepage') }}">Is Mightier</a></h1>
</div>


<div class="w3-col w3-padding s12 m12 l3" style="text-align: left;">
    <h4>
        {{ namedRep.iloc[0]['name'] }}<br />
        <span class="smaller">{{ namedRep.iloc[0]['title'] }}</span>
    </h4>
    <p>
        {% for field in fieldList %}
            {% if 'phone' in field %}
                <a href="tel+1{{ namedRep.iloc[0][field]|replace('(','')|replace(')','')|replace(' ','')|replace('-','') }}">{{ namedRep.iloc[0][field] }}</a><br />
            {% elif 'url' in field %}
                <a href="{{ namedRep.iloc[0][field] }}" target="_blank">{{ namedRep.iloc[0][field] }}</a><br />
            {% else %}
                {{ namedRep.iloc[0][field] }}<br />
            {% endif %}
        {% endfor %}
        {% for field in addressList %}
            {% if 'city' in field %}
                {{ namedRep.iloc[0][field] }}, 
            {% elif 'state' in field %}
                {{ namedRep.iloc[0][field] }} 
            {% elif 'zip' in field %}
                {{ namedRep.iloc[0][field] }}<br />
            {% endif %}
        {% endfor %}
        {% if namedRep.iloc[0]['fax_number'] %}
            send a fax via FaxZero:<br /><a href="{{ namedRep.iloc[0]['fax_zero_url'] }}" target="_blank">{{ '(' + namedRep.iloc[0]['fax_number'][0:3] + ') ' + namedRep.iloc[0]['fax_number'][3:6] + '-' + namedRep.iloc[0]['fax_number'][6:10] }}</a>
        {% endif %}
    </p>
</div>





{# <div class="flex-container">
{% set duplicateTitleCounter = namespace(value=1) %}
{% for index, row in repDF.iterrows() %}
    {% set div_id = row['title']|replace(' ','_') %}
    {% if (index > 0 and repDF['title'][index] == repDF['title'][index - 1]) or repDF['title'][index] == repDF['title'][index + 1] %}
        {% set div_id = div_id + '_' + duplicateTitleCounter.value|string %}
        {% set duplicateTitleCounter.value = duplicateTitleCounter.value + 1 %}
    {% else %}
        {% set duplicateTitleCounter.value = 1 %}
    {% endif %}
<div id="{{ div_id }}">

<h3>{{ row['title'] }}</h3>
<h4>{{ row['name'] }}</h4>
<p>{{ row['party'] }}</p>
    {% for column in shortCols %}
        {% if row[column] == None %}
            {% break %}
        {% elif 'phone' in column %}
            <p>Phone: {{ row[column] }}</p>
        {% elif 'url' in column %}
            <p><a href="{{ row[column] }}">{{ row[column] }}</a></p>
        {% elif column == 'fax_number' %}
            <p>Fax: <a href="{{ row['fax_zero_url'] }}">{{ '(' + namedRep.iloc[0]['fax_number'][0:3] + ') ' + namedRep.iloc[0]['fax_number'][3:6] + '-' + namedRep.iloc[0]['fax_number'][6:10] }}</a></p>
        {% endif %}
    {% endfor %}
</div>
{% endfor %}
</div> #}

{% endblock %}


{# {% if index > 0 and repDF['title'][index] == repDF['title'][index - 1] %}
    {% set duplicateTitleCounter = 1 %}
    {% set div_id = row['title']+ str(duplicateTitleCounter + 1) %}
{% else %}
    {% set duplicateTitleCounter = 0 %}
    {% set div_id = row['title'] %} #}
