.pride-baker-red {
    color: #ffffff;
    background-color: #e40303;
}
.pride-baker-orange {
    color: #ffffff;
    background-color: #ff8c00;
}
.pride-baker-yellow {
    color: #000000;
    background-color: #ffed00;
}
.pride-baker-green {
    color: #ffffff;
    background-color: #008026;
}
.pride-baker-blue {
    color: #ffffff;
    background-color: #004dff;
}
.pride-baker-purple {
    color: #ffffff;
    background-color: #750787;
}

.pride-baker-red-text {
    color: #e40303;
}
.pride-baker-orange-text {
    color: #ff8c00;
}
.pride-baker-yellow-text {
    color: #ffed00;
}
.pride-baker-green-text {
    color: #008026;
}
.pride-baker-blue-text {
    color: #004dff;
}
.pride-baker-purple-text {
    color: #750787;
}

.pride-progress-red {
    color: #ffffff;
    background-color: #e40303
}
.pride-progress-orange {
    color: #ffffff;
    background-color: #ff8c00;
}
.pride-progress-yellow {
    color: #000000;
    background-color: #ffed00;
}
.pride-progress-green {
    color: #ffffff;
    background-color: #008026;
}
.pride-progress-blue {
    color: #ffffff;
    background-color: #004dff;
}
.pride-progress-purple {
    color: #ffffff;
    background-color: #750787;
}
.pride-progress-white {
    color: #000000;
    background-color: #ffffff;
}
.pride-progress-pink {
    color: #ffffff;
    background-color: #ffafc8;
}
.pride-progress-light-blue {
    color: #ffffff;
    background-color: #74d7ee;
}
.pride-progress-brown {
    color: #ffffff;
    background-color: #613915;
}
.pride-progress-black {
    color: #ffffff;
    background-color: #000000;
}

.pride-progress-red-text {
    color: #e40303;
}
.pride-progress-orange-text {
    color: #ff8c00;
}
.pride-progress-yellow-text {
    color: #ffed00;
}
.pride-progress-green-text {
    color: #008026;
}
.pride-progress-blue-text {
    color: #004dff;
}
.pride-progress-purple-text {
    color: #750787;
}
.pride-progress-white-text {
    color: #ffffff;
}
.pride-progress-pink-text {
    color: #ffafc8;
}
.pride-progress-light-blue-text {
    color: #74d7ee;
}
.pride-progress-brown-text {
    color: #613915;
}
.pride-progress-black-text {
    color: #000000;
}

.pride-helms-blue {
    color: #ffffff;
    background-color: #5bcefa;
}
.pride-helms-pink {
    color:#ffffff;
    background-color: #f5a9b8;
}
.pride-helms-white {
    color: #000000;
    background-color: #ffffff;
}

.pride-helms-blue-text {
    color: #5bcefa;
}
.pride-helms-pink-text {
    color:#f5a9b8;
}
.pride-helms-white-text {
    color: #ffffff;
}

.pride-page-pink {
    color: #ffffff;
    background-color: #d60270;
}
.pride-page-purple {
    color: #ffffff;
    background-color: #9b4f96;
}
.pride-page-blue {
    color: #ffffff;
    background-color: #0038a8;
}

.pride-page-pink-text {
    color: #d60270;
}
.pride-page-purple-text {
    color: #9b4f96;
}
.pride-page-blue-text {
    color: #0038a8;
}
