html {
    min-height: 100%;
}

body {
    color: #000000;
    background-color: #ffffff;
    font-family: 'Libre Franklin', sans-serif;
}

blockquote {
    font-style: italic;
    padding: 10px;
}

h2, h3 {
    font-family: 'Libre Franklin', sans-serif;
}

h2 {
    font-weight: 600;
}

.centered {
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

.larger {
    font-size: larger;
}

.smaller {
    font-size: smaller;
}

.breathe {
    padding: 10px;
    margin-bottom: 2%;
}

.form-line-input {
	border-radius: 5px;
	border: 1;
    border-color: #f5a9b8; /* pride-helms-pink */
	padding: 2px;
	height: 2em;
}

div.error {
    position: relative;
    z-index: -1;
    margin-top: -2rem;
    padding: 3rem;
}

.custom-ripple:active {
    box-shadow: none;
    transform: translate(2px,2px);
}
