html {
    min-height: 100%;
}

body {
    color: #000000;
    background-color: #ffffff;
    font-family: 'Libre Franklin', sans-serif;
}

blockquote {
    font-style: italic;
    padding: 10px;
}

h1 a {
    text-decoration: none;
}
h2, h3 {
    font-family: 'Libre Franklin', sans-serif;
}

h2 {
    font-weight: 600;
}

a:hover {
    text-shadow: 1px 1px 5px #f5a9b8aa; /* pride-trans-pink */
}

a:active {
    text-shadow: none;
}

a[href^="tel:"]:before {
    content: "\260e";
    margin-right: 10px;
}

.centered {
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

.larger {
    font-size: larger;
}

.smaller {
    font-size: smaller;
}

.breathe {
    padding: 10px;
    margin-bottom: 2%;
}

.form-line-input {
	border-radius: 5px;
	border: 1;
    border-color: #f5a9b8; /* pride-trans-pink */
	padding: 2px;
	height: 2em;
}

div.error {
    position: relative;
    z-index: -1;
    margin-top: -2rem;
    padding: 3rem;
}

.custom-default-button {
    font-style: italic;
    padding: 5px 15px;
    border: 1px solid #f5a9b8;
    border-radius: 100px 10px;
}

.custom-default-button:hover {
    border: 1px solid #d58998;
    border-radius: 10px 100px;
    background-color: #d58998;
}

.custom-default-button:active {
    color: #d58998;
    border: 1px solid #d58998;
    border-radius: 10px 100px;
    background-color: #ffffff;
}

/*.custom-ripple:active {
    box-shadow: none;
    transform: translate(2px,2px);
}
*/
.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.flex-container div {
	margin: 10px;
}

.grid-container {
	width: 75%;
	display: grid;
	column-gap: 50px;
	row-gap: 25px;
	margin: 3% auto;
}

.five {
	grid-template-columns: auto auto auto auto auto;
}

.four {
	grid-template-columns: auto auto auto auto;
}

.three {
	grid-template-columns: auto auto auto;
}

.two {
	grid-template-columns: auto auto;
}

.grid-container div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: inherit;
	width: 100%;
	height: 100%;
	padding: 10px 30px;
	border-radius: 100px 10px;
}

.grid-container div h4 {
    font-style: italic;
}

.grid-container div:hover {
    border-radius: 10px 100px;
}

.dem-background {
    background-color: #558aff22;
    border: 1px solid #558aff22;
}

.dem-background:hover {
    background-color: #558aff44;
    border: 1px solid #558aff44;
}

.dem-background:active {
    background-color: #558aff00;
    border: 1px solid #558aff88;
}

.gop-background {
    background-color: #ff648822;
    border: 1px solid #ff648822;
}

.gop-background:hover {
    background-color: #ff648844;
    border: 1px solid #ff648844;
}

.gop-background:active {
    background-color: #ff648800;
    border: 1px solid #ff648888;
}

.grn-background {
    background-color: #00ff0022;
    border: 1px solid #00ff0022;
}

.grn-background:hover {
    background-color: #00ff0044;
    border: 1px solid #00ff0044;
}

.grn-background:active {
    background-color: #00ff0000;
    border: 1px solid #00ff0088;
}

.ind-background {
    background-color: #d866ff22;
    border: 1px solid #d866ff22;
}

.ind-background:hover {
    background-color: #d866ff44;
    border: 1px solid #d866ff44;
}

.ind-background:active {
    background-color: #d866ff00;
    border: 1px solid #d866ff88;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4.2rem;
}

.flipV {
    display: inline-block;
    transform: scale(1, -1);
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
}
