html {
    min-height: 100%;
}

body {
    color: #000000;
    background-color: #ffffff;
    font-family: 'Libre Franklin', sans-serif;
}

blockquote {
    font-style: italic;
    padding: 10px;
}

h2, h3 {
    font-family: 'Libre Franklin', sans-serif;
}

h2 {
    font-weight: 600;
}

.centered {
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

.larger {
    font-size: larger;
}

.smaller {
    font-size: smaller;
}

.breathe {
    padding: 10px;
    margin-bottom: 2%;
}

