<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Is Mightier | {% block title %}{% endblock %}</title>

    <meta name="description" content="Resources for Contacting your Representatives">
    <meta name="author" content="Timothy Rezendes">

    <meta property="og:title" content="IsMightier.org">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://IsMightier.org">
    <meta property="og:description" content="Resources for Contacting your Representatives">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}?v=4.15">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/color-library-pride.css') }}?v=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}?v=0.1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stateface.css') }}?v=0.1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}?v=0.1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}?v=0.1">
    {% block stylesheets %}{% endblock %}

    <base target="_top">


    <script data-search-pseudo-elements defer src="https://kit.fontawesome.com/56f2c79116.js" crossorigin="anonymous"></script>

    <!-- Alert close script from https://www.w3schools.com/howto/howto_js_alert.asp -->
    <script>
        // Get all elements with class="closebtn"
        var close = document.getElementsByClassName("closebtn");
        var i;

        // Loop through all close buttons
        for (i = 0; i < close.length; i++) {
            // When someone clicks on a close button
            close[i].onclick = function() {

                // Get the parent of <span class="closebtn"> (<div class="alert">)
                var div = this.parentElement;

                // Set the opacity of div to 0 (transparent)
                div.style.opacity = "0";

                // Hide the div after 600ms (the same amount of milliseconds it takes to fade out)
                setTimeout(function() {
                    div.style.display = "none";
                }, 600);
            }
        }
    </script>


    {% endblock %}
</head>

<body {% block bodyattributes %}{% endblock %}>
    <div class="content-root">
        <div id="header">
            <nav>
                {% block nav %}
                {% endblock %}
            </nav>
            <!-- Flash Message Display Code -->
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="w3-panel w3-{{ category }}"">
                <button type=" button" class="close-button" aria-label="Close" onclick="this.parentElement.style.display='none';">
                <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <!-- -->

        </div>

        <div id="content" class="centered content-wrap">
            {% block content %}
            {% endblock %}
        </div>

        <!-- A little bit of breathing room… -->
        <div class="breathe">
            &nbsp;
        </div>
        {% block footer %}
        {% include ['footer.html'] %}
        {% endblock %}
    </div>
</body>
<script>
    
    // All page modals
    var modals = document.querySelectorAll('.w3-modal');
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target.classList.contains('w3-modal')) {
         for (var index in modals) {
          if (typeof modals[index].style !== 'undefined') modals[index].style.display = "none";    
         }
        }
    }
</script>
</html>
